<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

<div id="<%= @app %>" class='container'></div>

<div class="container d-flex flex-column justify-content-start align-items-center1">
  <h1 class="display-4 my-5 text-center"><strong>Coming soon</strong></h1>
  <div class='demo_graph h-100 w-100 text-center'></div>
</div>
