<!-- <script src="//d3js.org/d3.v4.min.js"></script> -->
<div class="content container d-flex flex-column align-items-center">
  <p class='phrase text-center'>We rekcle the data</p>

  <div class='banner' style='overflow: hidden'>
    <%= image_tag('pexels-photo.jpeg', class: 'img-fluid') %>
  </div>

  <div class='d-flex justify-content-around w-100 mt-5 goto'>
    <a href='/tradings' class='btn btn-lg btn-primary'><span>트레이딩<br/>바로가기</a>
    <a href='/ml/demo' class='btn btn-lg btn-primary'>머신러닝<br/>바로가기</a>
  </div>

</div>
