
html, body, main {
  height: 100%;
}

div.home {
  height: 100%;
  .phrase {
    color: #333;
    font-size: 2.5em;
  }

  svg {
    // width: 360px;
    // height: 33%;
    // background-color: #ddd;
    border: 1px solid gray;

    .axis--x path {
      // display: none;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

    .axis path, .axis line {
      fill: none;
      // stroke: #eee;
      shape-rendering: crispEdges;
    }

    .axis text {
      font-size: 11px;
    }

    .bar {
      fill: steelblue;
    }
  }

  div.goto {
    margin-top: 3em;
    button {
      white-space: normal !important;
      word-wrap: break-word;
    }
  }

  @include media-breakpoint-up(sm) { // >= 576px
    .phrase { font-size: 3em; }
    // svg { width: 520px; }
  }

  @include media-breakpoint-up(md) { // >= 768px
    .phrase { font-size: 5em; }
    // svg { width: 720px; }
  }

  @include media-breakpoint-up(lg) { // >= 992px
    .phrase { font-size: 6em; }
    // svg { width: 970px; }
  }

  @include media-breakpoint-up(xl) { // >= 1200px
    .phrase { font-size: 7em; }
    // svg { width: 1100px; }
  }
}

div.demo_graph {
  svg {
    // width: 360px;
    // height: 33%;
    // background-color: #ddd;
    border: 1px solid gray;

    // .axis--x path {
    //   display: none;
    // }

    // .line {
    //   fill: none;
    //   stroke: steelblue;
    //   stroke-width: 1.5px;
    // }
    //
    // .axis path, .axis line {
    //   fill: none;
    //   // stroke: #eee;
    //   shape-rendering: crispEdges;
    // }

    // .axis text {
    //   font-size: 11px;
    // }

    // .bar {
    //   fill: steelblue;
    // }
  }
}
