html, body {
  height: 100%;

  main {
    height: 100%;
    // font-family: 'Nanum Brush Script', cursive;
    // font-family: 'Nanum Gothic', sans-serif;
    // font-family: 'Nanum Gothic Coding', serif;
    // font-family: 'Nanum Myeongjo', serif;
    // font-family: 'Nanum Pen Script', cursive;
  }
}

div.content {
  .phrase {
    color: #333;
    font-size: 2.5em;
  }

  div.banner {
    height: 246px;

    @include media-breakpoint-up(sm) { // >= 576px
      height: 330px;
    }
  }

  div.goto {
    button {
      white-space: normal !important;
      word-wrap: break-word;
    }
  }

  @include media-breakpoint-down(xs) { // >= 576px
    .btn {
      @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
    }
  }

  @include media-breakpoint-up(sm) { // >= 576px
    .phrase { font-size: 3em; }
  }

  @include media-breakpoint-up(md) { // >= 768px
    .phrase { font-size: 5em; }
  }

  @include media-breakpoint-up(lg) { // >= 992px
    .phrase { font-size: 6em; }
  }

  @include media-breakpoint-up(xl) { // >= 1200px
    .phrase { font-size: 7em; }
  }
}
