
div#trading_app {
  nav.nav.nav-pills.top {
    a.nav-link.active {
      background-color: $dark;
      &:active {
        background-color: $dark;
      }
    }
  }

  nav.nav.side {
    .active {
      font-weight: bold;
    }
  }

  div.input-group.connection-info {
    width: 100%;
    // >= 576px
    // @include media-breakpoint-down(xs) { }

     // >= 576px
    @include media-breakpoint-up(sm) { width: 75%; }

    // >= 768px
    // @include media-breakpoint-up(md) { width: 75%; }

    // >= 992px
    // @include media-breakpoint-up(lg) { width: 50%; }

    // >= 1200px
    // @include media-breakpoint-up(xl) { width: 50%; }
  }
}
